# ===== Python =====
__pycache__/
*.pyc

# ===== Virtual Environment =====
.venv/
venv/

# ===== AWS / Secrets =====
*.pem
.aws/

# ===== Data / Local files =====
*.csv

# ===== Logs =====
*.log

# ===== OS / Editor =====
.DS_Store
.vscode/
